<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1 class="color-white shadow-normal">POKETIN</h1>
      </div>
    </div>
    <div class="list">
      <div class="padding">
        <button ng-click="loginWithGoogle()"
                class="button button-block button-positive waves-effect waves-button waves-light button-assertive icon-left ion-social-google button-assertive-900">
          Google
        </button>
      </div>
      <div class="padding">
        <button ng-click="loginWithFacebook()" class="button button-block button-border icon-left waves-effect waves-button waves-light ion-social-facebook button-positive-900">Facebook
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
