<ion-modal-view>
  <ion-header-bar class="bar-calm-900" ng-class="'bg-color-' + user.team">
    <div class="title color-white">{{ "profile.edit.cropimage"|translate }}</div>
    <button class="button button-clear " ng-click="hide()">
      <i class="ion ion-close"></i>
    </button>
  </ion-header-bar>

  <ion-content class="bg-color-stable">
    <div class="cropArea">
      <!--<img-crop image="myImage"-->
                <!--result-image-format="image/jpeg"-->
                <!--change-on-fly="true"-->
                <!--area-type="square"-->
                <!--area-min-size="200"-->
                <!--result-image-size="400"-->
                <!--result-image="myCroppedImage">-->
      <!--</img-crop>-->
      <image-crop
        data-height="300"
        data-width="300"
        data-shape="square"
        data-step="crop.imageCropStep"
        src="crop.myImageForCropping"
        data-result="crop.myCroppedImage"
        max-size="500"
      ></image-crop>
    </div>
    <div class="bar bar-footer" ng-class="'bg-color-' + user.team">
      <button class="button button-clear pull-right" ng-click="save()">{{ "button.save"|translate }}</button>
    </div>
  </ion-content>

</ion-modal-view>
